
/*******************************
        button
*******************************/
/** fléche retour **/
.header__navtop--arrow {
    position: absolute;
    font-size: 17px;
    top: 17px;
    left: 17px;
}

/** TESTE CHECKBOX COEUR DEBUT **/
.btn__ico,
.btn__label,
.btn__vide,
.btn__Plein {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
 }

.btn__ico input[type="checkbox"]{
    position: absolute;
    visibility: hidden;
    width: 22px;
    height: 22px;
}

.btn__label{
    position: absolute;
    cursor: pointer;
}

.btn__Plein {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(var(--color-purple), var(--color-pink));
    opacity: 0;
    transition: 0.3s ease;
}

.btn__ico input[type="checkbox"]:checked ~ label .btn__Plein {
    opacity: 1;
    background-image: linear-gradient(var(--color-purple), var(--color-pink));
}

.btn__Plein:hover {
    opacity: 1;
}

/* menu checked */
.menu input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 100%;
    height: 65px;
    border-radius: 15.04px;
    cursor: pointer;
    outline: none;
}

.menu input[type="checkbox"]:hover + label .fa-circle-check,
.menu input[type="checkbox"]:hover + label .plate__icon {
    font-size: 20px;
    width: 59px;
}

.menu input[type="checkbox"]:checked + label .fa-circle-check,
.menu input[type="checkbox"]:checked + label .plate__icon {
    font-size: 20px;
    width: 59px;
}
