// importer tous les fichiers scss

@import "./utils/animation";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";

// @import "./pages/typography";

@import "./components/buttons.scss";

@import "./layout/footer";
@import "./layout/general";
@import "./layout/header";
@import "./layout/mediaquery";

@import "./pages/home";
@import "./pages/loader";
@import "./pages/menu";



////////////////////////////////////////////////////////////
/// 





/*******************************
            variable
*******************************/
/*******************************
            general
*******************************/
/*******************************
        CONTENUE GENERAL
*******************************/
/*******************************
            LOADER
*******************************/
/*******************************
            HEADER
*******************************/
/**  SECTION LOGO  **/
/**  logo site  **/
/***  SECTION LOCATION  **/
/**  logo  **/
/**  paragraphe  **/
/*******************************
        home page container
*******************************/
/**  SECTION HERO  **/
/**  BUTTON MULTICOLOR  **/
/**  SECTION FONCTION  **/
/**  SECTION RESTAURANTS  **/
/***************************************
****************************************
             PAGES MENU 
****************************************
***************************************/
/** PAGE RESTAURANT **/
/**  PAGES MENU  **/
/**  section menu  **/
/* titre menu h2 */
/* menu card */
/* plate texte */
/*******************************
            MENU
    label + icone + checkbox
*******************************/
/* label */
/* icone */
/*******************************
            FOOTER
*******************************/
/*******************************
        buttons
*******************************/
/** fléche retour **/
/** TESTE CHECKBOX COEUR DEBUT **/
/* menu checked */
/*******************************
********************************
    animation page loading
********************************
*******************************/
/*******************************
    animation page loading
*******************************/

/*******************************
  MEDIAQUERY DESCKTOP > 375px
*******************************/
/**  header  **/
/**  foction  **/
/**  restaurants  **/
/**  section menu  **/
/**  footer  **/



/////////////////////////////////////








.restaurant {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	.restaurant__title {
		font-family: $font-family_2;
		font-weight: 400;
		font-style: italic;
		font-size: 28px;
	}
}
#restauLink__checkbox {
	position: absolute;
	visibility: hidden;
	width: 22px;
	height: 22px;
	&:checked {
		~ {
			.restauLink__check--label {
				.restauLink__icon--CoeurPlein {
					opacity: 1;
					background-image: linear-gradient(var(--color-purple), var(--color-pink));
				}
			}
		}
	}
}
.restauLink__check--label {
	position: absolute;
	cursor: pointer;
}
.restauLink__icon--CoeurPlein {
	position: absolute;
	top: 0;
	left: 0;
	color: $color_2;
	background-clip: text;
	background-image: linear-gradient(var(--color-purple), var(--color-pink));
	opacity: 0;
	transition: 0.3s ease;
	&:hover {
		opacity: 1;
	}
}
.menu__image {
	position: absolute;
	width: 100%;
	height: 275px;
}
.menu__image--img {
	width: 100%;
	height: 275px;
}
.content__menu {
	position: relative;
	top: -40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	height: auto;
	margin-bottom: -40px;
	padding: 40px 26px;
	border-radius: 40px 40px 0 0;
	background-color: $background-color_4;
}
.menu {
	.menu__title {
		width: auto;
		height: 27px;
	}
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	height: auto;
	.menu__article {
		position: relative;
		overflow: hidden;
		border-radius: 15.04px;
		background-color: $background-color_1;
	}
	.menu__plate {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: auto;
	}
	.plate__txt {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 15px 0 15px 15px;
	}
	.plate__title {
		font-size: 18px;
		font-weight: 500;
	}
	.plate__complement {
		font-size: 15.04px;
		font-weight: 300;
	}
	.plate__money {
		display: flex;
		align-items: end;
		gap: 16px;
		top: 0;
		width: auto;
		height: 100%;
	}
	.plate__prix {
		font-size: 15.04px;
		font-weight: 700;
		padding: 15px 0 15px 15px;
	}
	.menu__label {
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		gap: 12px;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	.plate__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 0px;
		height: 69px;
		border-radius: 0 15.04px 15.04px 0;
		background-color: $background-color_6;
		transition: 0.3s linear;
		.fa-circle-check {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0px;
			border-radius: 50%;
			color: $color_5;
			transition: 0.3s linear;
		}
	}
	input[type="checkbox"] {
		appearance: none;
		position: relative;
		width: 100%;
		height: 65px;
		border-radius: 15.04px;
		cursor: pointer;
		outline: none;
		&:hover {
			+ {
				label {
					.fa-circle-check {
						font-size: 20px;
						width: 59px;
					}
					.plate__icon {
						font-size: 20px;
						width: 59px;
					}
				}
			}
		}
		&:checked {
			+ {
				label {
					.fa-circle-check {
						font-size: 20px;
						width: 59px;
					}
					.plate__icon {
						font-size: 20px;
						width: 59px;
					}
				}
			}
		}
	}
}
.menu__title--h2 {
	position: relative;
	font-size: 16px;
	font-weight: 300;
	&::after {
		content: "";
		position: absolute;
		background-color: $background-color_6;
		height: 3px;
		width: 40px;
		top: 27px;
		left: 0;
	}
}
.card__menu {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	height: auto;
}
.plate__title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.plate__complement {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.footer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	height: auto;
	padding: 22px 25px;
	color: $color_5;
	background-color: $background-color_7;
}
.footer__logo {
	width: 100%;
}
.footer__svg {
	width: 137.58px;
	height: 27px;
	path {
		fill: var(--color-white);
	}
}
.footer__block {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
	height: auto;
}
.footer__ico {
	font-size: 12px;
	margin-right: 11px;
}
.footer__link {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
}
.footer__mail {
	font-size: 16px;
	font-weight: 400;
	line-height: 18.75px;
}
.header__navtop--arrow {
	position: absolute;
	font-size: 17px;
	bottom: 22px;
	left: 25px;
}
.btn__ico {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
		width: 22px;
		height: 22px;
		&:checked {
			~ {
				label {
					.btn__Plein {
						opacity: 1;
						background-image: linear-gradient(var(--color-purple), var(--color-pink));
					}
				}
			}
		}
	}
}
.btn__label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
}
.btn__vide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
}
.btn__Plein {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
	left: 0;
	color: $color_2;
	background-clip: text;
	background-image: linear-gradient(var(--color-purple), var(--color-pink));
	opacity: 0;
	transition: 0.3s ease;
	&:hover {
		opacity: 1;
	}
}



@media (min-width: 375.01px) {
	.main__container {
		max-width: 1440px;
	}
	.header__navtop {
		box-shadow: none;
	}
	.header__navbottom {
		box-shadow: none;
	}
	.fonction {
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 50px 0;
	}
	.fonction__title {
		margin-left: 0px;
		width: 80%;
	}
	.fonction__group {
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 25px;
	}
	.fonction__block {
		width: 30%;
		min-width: 260px;
	}
	.restaurants {
		align-items: center;
		padding: 50px 0;
	}
	.restaurants__title {
		width: 80%;
		left: 0px;
	}
	.restaurants__block {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 50px;
		width: 80%;
	}
	.restaurants__link {
		display: flex;
		align-items: center;
		max-width: 47%;
		min-width: 300px;
		height: auto;
	}
	.restaurant {
		width: 310px;
	}
	.container__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.content__menu {
		width: 80%;
	}
	.footer {
		justify-content: right;
		flex-direction: row-reverse;
		gap: 16px;
		padding: 30px 50px;
	}
	.footer__logo {
		width: 110.58px;
	}
	.footer__svg {
		width: 110.58px;
	}
	.footer__block {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 600px;
	}
	.footer__link {
		&:nth-child(2) {
			margin-right: 25px;
		}
	}
}
