// general
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
body {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	max-width: 100%1440px;
	height: auto;
}
img {
	object-fit: cover;
}
h1 {
	font-size: 24px;
	font-weight: 700;
}
p {
	font-size: 16px;
}
a {
	color: $color_1;
	text-decoration: none;
}
.checkbox-item {
	appearance: none;
}
.fa-solid {
	cursor: pointer;
}
section {
	width: 100%;
	height: auto;
}
.main__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 1440px;
	background-color: $background-color_1;
}