
/* @media */
@media (min-width: $layout-breakpoint-small) {
    body {
        max-width: 100%1440px;
        height: auto;
    }
    .main__container {
        width: 1440px;
    }
    .header__navbottom {
        box-shadow: none, none;
    }
    .modeEmploi__title {
        font-size: 40px;
    }
	/* section fonction */
	.fonction {
		width: 100%;
		.fonction__title {
			padding-left: 12.5%;
			padding-right: 12.5%;
		}
		.fonction__group {
			.fonction__block  {
				width: 32%;
				max-width: 300px;
				min-width: 250px;
				.fonction__content {
					display: flex;
					align-items: baseline;
					@include widthHeight;
					gap: 25px;
					.fonction__ico {
						font-size: 19.9px;
						color: $color-grey-icone;
					}
					.fa-store {
						@include flexCenter;
						color: $color-purple;
					}
				}
				.fonction__comment {
					@include flexCenter;
					font-size: 16px;
					font-weight: 500;
					line-height: 18.75px;
				}
			}
		}
	}
	/* section restaurant */
	.restaurants {
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 18px;
		@include widthHeight;
		padding: 50px 5%;
		background-color: $color-grey-light;
		.restaurants__title {
			margin-left: 16px;
		}
		.restaurants__block {
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 18px;
			width: 100%;
			height: auto;
			.restaurants__link {
				display: flex;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				min-width: 100px;
				border-radius: 15px 15px;
				background-color: $color-white;
				.restaurants__top {
					position: relative;
					width: 100%;
					height: 180px;
					border-radius: 15px 15px 0 0;
					.restaurants__img {
						width: 100%;
						height: 180px;
						border-radius: 15px 15px 0 0;
					}
					.restaurants__nouveau {
						position: absolute;
						@include flexCenter;
						width: 80px;
						height: 29px;
						top: 10px;
						right: 10px;
						font-size: 14px;
						font-weight: 500;
						color: $color-green;
						background-color: $color-green-light;
					}
				}
				.restaurants__bottom {
					display: flex;
					justify-content: space-between;
					align-items: center;
					@include widthHeight;
					padding: 20px 20px 20px 10px;
					.restaurants__text--title {
						font-size: 18px;
						font-weight: 700;
					}
					.restaurants__text--comment {
						font-size: 17px;
						font-weight: 300;
					}
				}
			}
		}
	}
    
    
}