// @media
@media (min-width: 375.01px) {
	.main__container {
		max-width: 1440px;
	}
	// header
	.header__navtop {
		box-shadow: none;
	}
	.header__navbottom {
		box-shadow: none;
	}
	// foction
	.fonction {
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 50px 0;
	}
	.fonction__title {
		margin-left: 0px;
		width: 80%;
	}
	.fonction__group {
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 25px;
	}
	.fonction__block {
		width: 30%;
		min-width: 260px;
	}
	// restaurants
	.restaurants {
		align-items: center;
		padding: 50px 0;
	}
	.restaurants__title {
		width: 80%;
		left: 0px;
	}
	.restaurants__block {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 50px;
		width: 80%;
	}
	.restaurants__link {
		display: flex;
		align-items: center;
		max-width: 47%;
		min-width: 300px;
		height: auto;
	}
	// section menu
	.restaurant {
		width: 310px;
	}
	.container__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.content__menu {
		width: 80%;
	}
	// footer
	.footer {
		justify-content: right;
		flex-direction: row-reverse;
		gap: 16px;
		padding: 30px 50px;
	}
	.footer__logo {
		width: 110.58px;
	}
	.footer__svg {
		width: 110.58px;
	}
	.footer__block {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 600px;
	}
	.footer__link {
		&:nth-child(2) {
			margin-right: 25px;
		}
	}
}
