
/* menu checked */

.menu {
	input[type="checkbox"] {
		appearance: none;
		position: relative;
		width: 100%;
		height: 65px;
		border-radius: 15.04px;
		cursor: pointer;
		outline: none;
		&:hover {
			+ {
				label {
					.fa-circle-check {
						font-size: 20px;
						width: 59px;
					}
					.plate__icon {
						font-size: 20px;
						width: 59px;
					}
				}
			}
		}
		&:checked {
			+ {
				label {
					.fa-circle-check {
						font-size: 20px;
						width: 59px;
					}
					.plate__icon {
						font-size: 20px;
						width: 59px;
					}
				}
			}
		}
	}
}

/* btn fléche */
.header__navtop--arrow {
	position: absolute;
	font-size: 17px;
	top: 17px;
	left: 17px;
}

/* BUTTON COEUR */
.btn__ico {
    @include flexCenter;
    width: 22px;
    height: 22px;
    .btn__label{
        @include flexCenter;
        width: 22px;
        height: 22px;
        position: absolute;
        cursor: pointer;
        .btn__vide {
            @include flexCenter;
            width: 22px;
            height: 22px;
        }
        .btn__Plein {
            @include flexCenter;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 0;
            left: 0;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient($color-purple, $color-pink);
            opacity: 0;
            transition: 0.3s ease;
            &:hover {
                opacity: 1;
            }
        }
    }
	input {
		position: absolute;
		visibility: hidden;
		width: 22px;
		height: 22px;
		&:checked {
			~ {
				label {
					.btn__Plein {
						opacity: 1;
						background-image: linear-gradient($color-purple, $color-pink);
					}
				}
			}
		}
	}
}
